.hour {
  position: relative;
  font-weight: bold;
  font-size: 0.3cm;
  display: inline-block;
  width: 1%;
  height: 10px;
  top: 3px;
  text-align: center;
}

.odd {
  color: white;
}

.even {
  color: #000;
}